<body> 
  <div class="container-fluid">
   <section id="coverVideo" class="video">
    
      <div class="row">
            <!-- ===== VIDEO ===== -->
          
            <%= video_tag(["splashvideo.mp4", "splashvideo.webm", "splashvideo.ogv"], size: "cover", controls: false, autobuffer: false, autoplay: true, loop: true) %>

              <div class="col-sm-12 text-center">
                 <div class="title">Obscura</div>
                  <p class="subtitle">A Travel Community worth discovering.</p>
              </div>
            </video>

        
        </div>
    </section>
       <div class="text-center">
          <h2>About Us</h2><hr>
        </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <p class="about">
            We are a travel guide showcasing hidden gems throughout the West Coast. Check out our featured cities below...Food and Beverages, Accomodation, Art, and Lifestyle. Real recommendations, skip the tourism. We help you have a trip worth remembering.
            </p>
          </div>

  

              <div class="row-fluid cities">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">

                    <% @cities.each do |city| %>
                      <div class="col-sm-3 box">
                       <%= link_to city_path(city) do %>
                       <div class="crop cityshow" style="background-image: url(<%= city.url%>)">
                        <h3><%= city.name %></h3> 
                        </div> 
                        <% end %>
                         
                        </div>    
                     <% end %>           
                </div>
              </div>
              <br><br>
        <div class="row-fluid">
        <div class="col-sm-12">
        <div class="text-center">
          <h2>Our Travel Community Lovers</h2><hr>
        </div>
        </div>
        <div class="row-fluid">
          
          <div class='col-xs-6 col-sm-6'>
              <img src='https://whatdoesntsuck.com/wp-content/uploads/2015/06/happyhours.jpg' style="margin-top: 15%">
          </div>
          <div class='col-xs-6 col-sm-6'>
              <img src='http://admireindonesia.com/sites/default/files/field/image/Traveler_huffingtonpost.jpg' margin-bottom: 0; style="margin-top: 15%" >
          </div>
        </div>

        <div class="row-fluid">
          <div class='col-xs-6 col-sm-6'>
              <img src='http://i.huffpost.com/gen/3532800/images/o-TRAVEL-facebook.jpg' style="margin-top: 0px" >
          </div>
          <div class='col-xs-6 col-sm-6'>
              <img src='http://anywaytrip.com/wp-content/uploads/2015/03/o-TRAVEL-YOUNG-facebook.jpg'>
          </div>
        </div>
      </div>
             
</body>
