<body> 
  <div class="container-fluid">
   <section id="coverVideo" class="video">
    
      <div class="row">
            <!-- ===== VIDEO ===== -->
          
            <%= video_tag(["splashvideo.mp4", "splashvideo.webm", "splashvideo.ogv"], size: "cover", controls: false, autobuffer: false, autoplay: true, loop: true) %>

              <div class="col-sm-12 text-center">
                 <div class="title">Obscura</div>
                  <p class="subtitle">A Travel Community worth discovering.</p>
              </div>
            </video>
      </div>
        </section>
       <!-- <div class="container"> -->
            <div class="row-fluid cities">
                <div class="col-sm-2 col-sm-offset-2"><div class="box"></div></div>
                <div class="col-sm-2"><div class="box"></div></div>
                <div class="col-sm-2"><div class="box"></div></div>
                <div class="col-sm-2"><div class="box"></div></div>
            </div>  

            <!-- <div class="row-fluid">
                <div class="col-sm-2 col-sm-offset-2"><div class="box"></div></div>
                <div class="col-sm-2"><div class="box"></div></div>
                <div class="col-sm-2"><div class="box"></div></div>
                <div class="col-sm-2"><div class="box"></div></div>
            </div>      -->
        </div>


      
    

</body>
