
<% @cities.each do |city| %>
  <div>
    <h3><%= city.name %></h3>
  </div>
  <br>
<% end %>

<body> 
   <section id="coverVideo" class="video">
    <div class="container-fluid">
      <div class="row">
            <!-- ===== VIDEO ===== -->
         
            <%= video_tag(["splashvideo.mp4", "splashvideo.webm", "splashvideo.ogv"], size: "cover", controls: false, autobuffer: false, autoplay: true) %>


              <!-- <video poster="" preload="auto" autoplay loop volume="0">
                
                 <source src="/assets/videos/splashvideo.mp4" type="video/mp4">
                 <source src="/assets/videos/splashvideo.webm" type="video/webm">
                 <source src="/assets/videos/splashvideo.ogv" type="video/ogg ogv" ;="" codecs="theora, vorbis">
              </video> -->
              <div class="col-sm-12 text-center">
                 <div class="title">Obscura</div>
                  <p class="subtitle">Transforming your travel experience.</p>
              </div>
        </div>
      </div>
    </section>


</body>

