    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OBSCURA</a>
        </div>

   
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "Sign Up", new_user_path, :method => 'get' %></li>
        <li><%= button_to "Log In", new_session_path, :method => 'get' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body> 
   <section id="coverVideo" class="video">
    <div class="container-fluid">
      <div class="row">
            <!-- ===== VIDEO ===== -->
         
            <%= video_tag(["splashvideo.mp4", "splashvideo.webm", "splashvideo.ogv"], size: "cover", controls: false, autobuffer: false, autoplay: true) %>


              <!-- <video poster="" preload="auto" autoplay loop volume="0">
                
                 <source src="/assets/videos/splashvideo.mp4" type="video/mp4">
                 <source src="/assets/videos/splashvideo.webm" type="video/webm">
                 <source src="/assets/videos/splashvideo.ogv" type="video/ogg ogv" ;="" codecs="theora, vorbis">
              </video> -->
              <div class="col-sm-12 text-center">
                 <div class="title">Obscura</div>
                  <p class="subtitle">Transforming your travel experience.</p>
              </div>
        </div>
      </div>
    </section>


<div class="row-fluid">
	<!-- begin #footer -->
        <div id="footer" class="footer">
           
              
                <div class="text-center footerCopyright">
                   &copy; Copyright Obscura 2015 
                    
                </div>
                <p class="social-list">
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                </p>
            </div>
       
	</div>
</body>