	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">OBSCURA</a>
	    </div>

   
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "Sign Up", new_user_path, :method => 'get' %></li>
        <li><%= button_to "Log In", new_session_path, :method => 'get' %></li>

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- ===================== SINGLE CITY LANDING PAGE ====================== -->
	
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="text-center">
				<h1>Transforming your travel experience.</h1>
			</div><hr>

		<!-- ==== MAIN CITY SPLASH PHOTO ===== -->


			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="cityImage">
					<img src='http://i.imgur.com/Ag84cz1.jpg'/>
				</div>
			</div>

			<!-- ==== FOOD & BEV ===== -->

				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
					  <h2 class="text-center">Food & Bev</h2><hr>
					  </div>
		

			<!-- ==== ART & ACCOMODATIONS ===== -->
						
					<div class="col-sm-5">
						<h2 class="text-center">Art</h2><hr>
					</div>
					
					<div class="col-xs-12 col-sm-5 col-sm-offset-1 box">
						<div class="thumbnail">
					      <img  class="img-responsive" src="http://placehold.it/350x150"> <div class="caption">
					        <h3>Sam's Bar</h3>
						        <p>An interactive article designed with love. Including a day and night feature. </p>
						        <p><a href="" class="btn btn-info pull-right">View Project</a> </p>
					        </div>
					    </div>
					</div>
					
					<div class="col-xs-12 col-sm-5 box">
						<div class="thumbnail">
					       <img  class="img-responsive" src="http://placehold.it/350x150"> <div class="caption">
					        <h3>White Walls Gallery</h3>
						        <p>A wearable device detecting food allergens with a safety scanner. Ideation and design.</p>
						        <p><a href="https://invis.io/RJ3WKGVMN" class="btn btn-info pull-right">View Project</a> </p>
					       </div>			
					    </div>
					</div>

				<!-- ==== ACCOMODATIONS ===== -->
					
				<div class="row">
					<div class="col-sm-5 col-sm-offset-1">
					  <h2 class="text-center">ACCOMODATIONS</h2><hr>
					  </div>
			
			<!-- ==== LIFESTYLE ===== -->
						<div class="col-sm-5">
						<h2 class="text-center">Lifestyle</h2><hr>
					</div>

					<div class="col-xs-12 col-sm-5 col-sm-offset-1 box">
						<div class="thumbnail">
					      <img  class="img-responsive" src="http://i.imgur.com/lBKheEC.jpg"> <div class="caption">
					        <h3>Sam's Bar</h3>
						        <p>An interactive article designed with love. Including a day and night feature. </p>
						        <p><a href="" class="btn btn-info pull-right">View Project</a> </p>
					        </div>
					    </div>
					</div>
					
					<div class="col-xs-12 col-sm-5 box">
						<div class="thumbnail">
					       <img  class="img-responsive" src="http://placehold.it/350x150"> <div class="caption">
					        <h3>White Walls Gallery</h3>
						        <p>A wearable device detecting food allergens with a safety scanner. Ideation and design.</p>
						        <p><a href="https://invis.io/RJ3WKGVMN" class="btn btn-info pull-right">View Project</a> </p>
					       </div>			
					    </div>
					</div>

				</div>

	<div class="row-fluid">
	<!-- begin #footer -->
        <div id="footer" class="footer">
           
              
                <div class="text-center footerCopyright">
                   &copy; Copyright Obscura 2015 
                    
                </div>
                <p class="social-list">
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                </p>
            </div>
       
	</div>
</body>