/* ======= NAVIGATION ======= */

#login-dp{
    z-index: 2;
    min-width: 275px;
    padding: 14px 14px 15px;
    background-color:rgba(255,255,255,.9);
    font-family: 'Open Sans', sans-serif;
}
.form-control {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightgrey;
  box-shadow: none !important;
  margin-top: 1px;
  border-radius: 0px;
  background-color: transparent;

}



input {
  background-color: transparent;
}

.btn, .btn-primary, .btn-block {
  margin-top: 15px;
  background-color: #61A786; 
  border: none; 
}

a.dropdown-toggle {
  border-bottom: none;
  color: #fff;

}

.logo {
  height: 50px;
}

.navbar-brand {
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
}

.navbar, .navbar-default {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #fff;
}

.navbar-fixed {
  clear: both;
}
/* ======= END NAVIGATION ======= */

body {
	font-family: 'Open Sans', sans-serif;
	font-color: #999;
}

h1 {
  clear: left;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

h2 {

	font-weight: 300;
	font-size: 21px;
  margin-top: 5%;
  color: #666;
}

p {
  color: #333;
}

p.about {
  font-weight: 500px;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif ;
  color: #333;
  margin-top: 5%;
  margin-bottom: 5%;
}
.cityImage {
	margin-bottom: 3%;
	margin: 0 auto;
}

img {
	display: block;
	margin: 0 auto;
  width: 100%;
}

img.img-responsive {
	max-width: 400px !important;
}

.thumbnail {
	display: block;
	border: none !important;
  max-width: 400px;
}


.title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin-top: -35%;
  margin-left: -55%;
  color: #CEFFE6;
  opacity: 0;

    -webkit-animation: fadeIn 3.3s forwards;
      -o-animation: fadeIn 3.3s forwards;
      animation: fadeIn 3.3s forwards;  
}

.subtitle {
  color: #fff;
  font-size: 24px;
  opacity: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -4%;
  margin-left: -38%;
    -webkit-animation: fadeIn 3.3s forwards;
      -o-animation: fadeIn 3.3s forwards;
      animation: fadeIn 3.3s forwards;  
}


button.btn {
  background-color: #fff;
  box-shadow: none;
  border: none;
}

button.btn:a {
  background-color: #fff;
  box-shadow: none;
  border: none;
}

.btn:hover {
  background-color: #45898D;
}

.video video {
    width: 100% !important;
    border: none;
    z-index: -1;
}

.coverVideo { 
  position:relative; 
}

.cities {
  margin-top: 3%;
}

.box {
    margin: 0 auto;
    background-color: #000;
    height:200px;
    width: 200px;
    margin-left: 0;
    margin-right: 0;
}

.newcity {
  margin-top: 5%;
}

/* -------------------------------
   FOOTER STYLES
------------------------------- */



.footerCopyright {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.footer {
  position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 30px 0 0;
}

.footer .footer-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #5A5E63;
    margin-bottom: 20px;
    margin-top: 0;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 28px;
}
.footer ul a {
    color: #919497;
}
.footer ul.archives > li .total {
    font-size: 12px;
    color: #5A5E63;
    margin-left: 5px;
    font-weight: normal;
}

/* 8.2 Footer Copyright Setting */

.footer-copyright {
    padding: 20px 0;
    font-size: 13px;
    color: #fff;
}
.footer-copyright:before,
.footer-copyright:after {
    content: '';
    display: table;
    clear: both;
}
.footer-copyright .social-media-list {
    list-style-type: none;
    margin-right: 0;
    padding: 0;
    float: right;
    font-size: 14px;
}
.footer-copyright .social-media-list > li {
    float: right;
}
.footer-copyright .social-media-list > li + li {
    margin-right: 15px;
}



