  <!-- begin #footer -->
        <div id="footer" class="footer">
           
                <div class="text-center">
                   <p class="footerColor" &copy; Copyright Obscura 2015 <br />
                    </p>
                </div>
                <p class="social-list">
                    <a href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-fw"></i></a>
                    <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
                    <a href="#"><i class="fa fa-dribbble fa-fw"></i></a>
                </p>
            </div>
       
